*{
    padding: 0;
    margin: 0;
}

.texts{
    margin-top: 20px;
}


.name{
    margin-top: 35px;
    display: inline-block;
    padding-right: 15px;
}
.flex_display{
    display: flex;
}

.fieldName{
    margin: 10px;
}

.firstbox{
    padding:10px
}

.secondbox{
    padding:10px
}

.butnsave{
    display: inline-block;
    padding: 30px;
    margin-left: 450px;
}

.additems{
    padding:15px;
    margin-right:10px;
}
.additems2{
    padding-top:15px;
}