*{
    padding: 0;
    margin: 0;
}


.name{
    margin-top: 20px;
    display: inline-block;
    padding-right: 15px;
}
.flex_display{
    display: flex;
}

.fieldName{
    margin: 10px;
}

.firstbox{
    padding:10px
}

.secondbox{
    padding:10px
}

.butnsave{
    display: inline-block;
    margin-left: 400px;
}