.Parent{
height: 80vh;
width: 100%;
display: flex;
}
.OneSide{
    height: 100%;
    width: 100%;
    /* flex: 2; */
}

.OtherSide{
  height: 100%;
  width: 100% ;
  overflow:hidden;
  /* flex: 8; */
}

.bttn{
position: relative;
float: right;
padding-right: 40px;
}

